#Python venv
venv
venv/**

#Pycharm
.idea
.idea/**

#tox
.tox
.tox/**

#mypy
.mypy
.mypy/**
.mypy_cache
.mypy_cache/**

#coverage
.coverage
.coverage/**
htmlcov
htmlcov/**
netbox/__pycache__
netbox/__pycache__/**
tests/__pycache__
tests/__pycache__/**

#packaging
netbox.egg-info